body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

#top-section {
    background-color: #1F2937;
    padding: 10px 20px 150px 20px;
}

#top-section ul {
    list-style: none;
    display: flex;
    margin: 0 10px;
}

#topnav {
    padding-top: 10px;
}

li {
    margin: 0 15px;
}

.headers {
    font-size: 18px;
    color: #E5E7EB;
}

.push-item {
    margin-left: auto;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
}

#hero {
    display: flex;
    align-items: flex-start;
    margin-top: 35px;
}

.hero-text {
    width: 40%;
    padding-left: 50px;
    margin-left: 25px;
}

.hero-text .hero-image {
    flex: 1;
}

#main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

#secondary-text {
    margin: 0;
    display: inline;
}

.hero-image {
    margin: 10px 0 0 80px;
    background-image: url("sunrise.jpg");
    width: 375px;
    height: 200px;
}

#second-section {
    display: flex;
    justify-content: center;
    gap: 52px;
    text-align: center; 
    padding-bottom: 100px;
}

.skills {
    max-width: 200px;
}

#skill-main {
    display:flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 15px;
    flex-wrap: wrap;
    padding-top: 100px;
}

.skill-images {
    border-radius: 15px;
}

#quote-section {
    background-color: #E5E7EB;
    font-weight: lighter;
    font-size: 36px;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 20px;
}

i {
    width: 50%
}

#cta-section {
    width: auto;
    height: 150px;
    background-color: #E5E7EB;
    padding: 100px;
}

#call-card {
    padding: 35px;
    background-color: #3882F6;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 50px;
}

#cta-text {
    width: 70%;
}

#call-button {
    margin-left: 15px;
}

.button {
    border-radius: 16px;
    border-color: white;
    color: white;
    background-color: #3882F6;
    padding: 10px 20px;
    font-weight: 900;
}