body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

#top-section {
    background-color: #1F2937;
    padding: 10px 20px 150px 20px;
}

#top-section ul {
    list-style: none;
    display: flex;
    margin: 0 25px;
}

li {
    margin: 0 10px;
}

.headers {
    font-size: 18px;
    color: #E5E7EB;
}

#secondary-text {
    margin: 0;
}

.push-item {
    margin-left: auto;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
}

#hero-text {
    width: 50%;
    align-items: center;
    padding-top: 25px;
}

#hero-image {
    margin-left: 60%;
}

#main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

#second-section {
    display: flex;
    justify-content: center;
    gap: 52px;
    text-align: center; 
    padding-bottom: 100px;
}

.skills {
    max-width: 200px;
}

#skill-main {
    display:flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 15px;
    flex-wrap: wrap;
    padding-top: 100px;
}

.skill-images {
    border-radius: 15px;
}

#quote-section {
    background-color: #E5E7EB;
    font-weight: lighter;
    font-size: 36px;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 20px;
}

i {
    width: 50%
}

#cta-section {
    background-color: #E5E7EB;
}

#call-button {
    background-color: #3882F6;
}

footer {
    background-color: #1F2937;
}